__pycache__/
*.pid
*.bak
*.log
*.db
*.sqlite3
*.pyc
*.pyo
*.pyd
*.pyz
.history/
.vscode/
config.cfg
.venv/

# Entorno virtual
venv/

model/book_tagging_pipeline_sentence_bert.joblib
model/book_tagging_pipeline_sentence_bert_cross_validated.joblib
model/book_recommendation_by_tags.joblib

__init__.py

model/cv_fold_1
model/cv_fold_2
model/cv_fold_3
model/cv_fold_4
model/cv_fold_5

data/raw/goodreads_data.csv
model/vectors.npy

model/sentiment_roberta_model.joblib